@import url('normalize.css');
@font-face {
    font-family: GilroyBold;
    src: url(../fonts/gilroy-bold.ttf);
}
@font-face {
    font-family: GilroyMedium;
    src: url(../fonts/gilroy-medium.ttf);
}
.contacts{
    font-family: 'GilroyMedium', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    padding: 5% 5% 5% 5%;
    text-align: center;
    background-color: #fff;
}
.contacts-icons{
    width: 20%;
    display: flex;
    justify-content: space-around;
}
.contacts a{
    text-decoration: none;
    color: #000;
    margin-top: 20px;
}
.contacts a:hover{
    color: rgb(118, 75, 238);
}
.return{
    position: relative;
    top: 200px;
    font-size: 30px;
}